// Sizes
$max-container-width: 800px;

// Colors
$dark-primary: #141414;
$light-primary: #fbfbfb;
$dm-text: #fff;
$lm-text: #000;

$lightgrey: #6b7280;


// Media queries 
@mixin for-phone-only { 
  @media screen and (max-width: 639px) { @content };
}

@mixin for-tablet-only {
  @media screen and (min-width: 640px) and (max-width: 767px) { @content };
}

@mixin for-small-window-only {
  @media screen and (min-width: 768px) and (max-width: 1279px) { @content };
}

@mixin for-desktop-up {
  @media screen and (min-width: 1280px) { @content };
}



// Mixins 
@mixin page-container { 
  max-width: $max-container-width;
  display: flex;
  flex-direction: column;
  padding: 7rem 0;
  gap: 8rem;

  @include for-phone-only {
    padding-right: 0;
    padding-top: 3rem;
    padding-bottom: 3rem;
    gap: 6rem;
  }

  @include for-tablet-only {
    padding-right: 3.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    gap: 7rem;
  }
    
  @include for-small-window-only {
    padding-right: 5rem;
  }

  @include for-desktop-up {
    padding-right: 10rem;
  }
}

@mixin project-container { 
  max-width: $max-container-width;
  display: flex;
  flex-direction: column;
  padding: 7rem 0;
  gap: 8rem;

  @include for-phone-only {
    padding-top: 3rem;
    padding-left: 0;
    padding-right: 0;
    gap: 0;
  }

  @include for-tablet-only {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
    
  @include for-small-window-only {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  @include for-desktop-up {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

@mixin page-header {
  display: flex;
  flex-direction: column;
  gap: 15px;

  h1 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1;
  }

  p {
    font-size: 1.75rem;
    font-weight: 300;
  }

  @include for-tablet-only {
    h1 {
      font-size: 2.5rem;
    }  
  
    p {
      font-size: 1.5rem;
    }  
  }

  @include for-phone-only {
    h1 {
      font-size: 2.2rem;
    }  
  
    p {
      font-size: 1.2rem;
    }  
  }
}