// Sizes
$max-container-width: 800px;

// Colors
$lightgrey: #6b7280;



// Mixins 
@mixin h1 {
  font-size: 3rem;
  font-weight: 500;
}

@mixin page-container { 
  max-width: $max-container-width;
  display: flex;
  flex-direction: column;
  padding: 7rem 0;
  gap: 8rem;

  @media screen and (min-width: 640px) {
    padding-right: 2rem;
  }

  @media screen and (min-width: 768px) {
      padding-right: 5rem;
  }

  @media screen and (min-width: 1024px) {
      padding-right: 8rem;
  }
  @media screen and (min-width: 1280px) {
      padding-right: 12rem;
  }

  @media screen and (max-width: 639px) {
      padding-right: 0;
  }
}

@mixin page-header {
  display: flex;
  flex-direction: column;
  gap: 15px;

  h1 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1;
  }

  p {
    font-size: 1.75rem;
    font-weight: 300;
  }
}