@import "../styles/variables";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding-top: 8rem;
  padding-bottom: 40px;
}

@include for-phone-only {
  .footer {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@include for-tablet-only {
  .footer {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@include for-small-window-only {
  .footer {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

@include for-desktop-up {
  .footer {
    padding-left: 13rem;
    padding-right: 13rem;
  }
}