@import "../styles/variables";

.container {
  @include page-container;
}

.header {
  @include page-header;
}

.header .imageOfMeParent {
  width: 100%;
  max-width: 260px;
  border-radius: 3px;
  overflow: hidden;
}

.header .imageOfMeParent .imageOfMe {
  filter: brightness(1.05);
}

.header .socialAndCTA {
  display: flex;
  gap: 15px;

   .CTA {
    height: 25px;
    background: var(--color-text-secondary);
    color: #fff;
    padding: 0px 8px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.5);
  }

  .CTA:hover {
    text-decoration: underline;
  }
}


// About
.about h2 {
  font-size: 2rem;
  font-weight: 400;
}

.about .timePassedButton {
  background-color: transparent;
  border: 0;
  text-decoration: underline;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.about .timePassedButton:hover {
  font-style: italic;
}

.about p {
  font-size: 1.1rem;
  margin-top: 15px;
}

@include for-tablet-only {
  // .header .imageOfMeParent {
  //   max-width: 200px;
  // }

  // About
  .about h2 {
    font-size: 2rem;
  }
  
  .about p {
    font-size: 1rem;
  }
}

@include for-phone-only {
  
  // .header .imageOfMeParent {
  //   // max-width: 150px;
  // }
  
  // About
  .about h2 {
    font-size: 1.5rem;
  }
  
  .about p {
    font-size: 1.2rem;
  }
}