@import "../styles/variables";

.main {
  padding-top: 67px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@media screen and (min-width: 640px) {
  .main {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media screen and (min-width: 768px) {
  .main {
    padding-left: 9rem;
    padding-right: 9rem;
  }
}
@media screen and (min-width: 1024px) {
  .main {
    padding-left: 13rem;
    padding-right: 13rem;
  }
}
@media screen and (min-width: 1280px) {
  .main {
    padding-left: 20rem;
    padding-right: 20rem;
  }
}







@media screen and (max-width: 639px) {
  .main {
    padding-left: 30px;
    padding-right: 30px;
  }
}