@import "../styles/variables";

.main {
  padding-top: 67px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@include for-phone-only {
  .main {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@include for-tablet-only {
  .main {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@include for-small-window-only {
  .main {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

@include for-desktop-up {
  .main {
    padding-left: 13rem;
    padding-right: 13rem;
  }
}