@import "../styles/variables";

.socialIcons {
  display: flex;
  gap: 15px;
}

.socialIcons .socialLink {
  width: 25px;
}

.socialIcons svg {
  fill: currentColor;
}

.socialIcons svg:hover {
  // fill: #333;
}